<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Register</title>
        <link rel="stylesheet" href="../Static/CSS/StyleRegister.css" type="text/css" />
        <<script src="../Static/Js/Register.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1>Register Users</h1>
        <form>
            <label>Identification</label> <input type="number"/><br> <br>
            <label>Name</label> <input type="Text"/><br> <br>
            <label>LastName</label> <input type="Text"/><br> <br>
            <label>Birthday</label> <input type="date"/><br> <br>
            <button onclick="Register()">Register</button>
        </form>
        
    </body>
</html>